header{text-align: center;font-size: 200%;background: darkgray;}

h1{font-size: 100px;}

.menulist{ background-color: cadetblue;
    height: 20px;
    padding: 0;
    font-size:0;
    color: red;
;}

.item1{display: inline-block;width: 25%; color: red;font-size: 15px;text-align: center;}
.item2{display: inline-block;width: 25%; color: red;font-size: 15px;text-align: center;}
.item3{display: inline-block;width: 25%; color: red;font-size: 15px;text-align: center;}
.item4{display: inline-block;width: 25%; color: red; font-size: 15px;text-align: center;}

.twosections{ padding: auto;margin: auto; font-size:15;}

.section{height: 200px;
    width: 65%;
    float: left;
    margin: auto;
    padding: 10px;
    background: gray;}

.sidearticle{height: 200px;
    width: 30%;
    float: right;
    margin: auto;
    padding: 10px;
    background: gray;}

.mainarticle{margin:auto; padding: 500px}

Footer{text-align: center;padding: 500px;}

body{background: bisque ;}

