<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Resorts</title>

	<link rel="stylesheet" href="layout.css">

</head>
<body>
<Header>
	<a href="../index.html">HTML/CSS Guide</a>
</Header>
<nav>

	<menu class="menulist">
        <li class="item1"><a href="../tag/tags.html">Tags</a></li>
		<li class="item2"><a href="../selectors/selectors.html">Selectors</a></li>
        <li class="item3"><a href="../attributes/attributes.html">Attributes</a></li>
        <li class="item4"><a href="layout.html" style="color: #058506">Layout</a></li>
        <li class="item5"><a href="../JS/JS.html">JS</a></li>
        <li class="item6"><a href="../tasks/Tasks.html">Tasks</a></li>
	</menu>
</nav>
<div>
    <Div>
	<IMG src="../img/ekran.gif">
    </Div>
	<p>"Статический" или "Динамический" ("Резиновый", "адаптивный", "отзывчивый") сайт. Что это такое,
        что выбрать, что лучше, в чём разница? Для того, чтобы увидеть её давайте попробуем разобраться</p>
	<P></P>
    <div>
        <div>
	        <div id="temnyi-fix">Статический</div>
            <div id="svetlyi-fix">способ верстки</div>
        </div>
        <div>
            <div id="temnyi-rub">Резиновая</div>
            <div id="svetlyi-rub">Верстка</div>
        </div>
        <div>
            <div id="temnyi-ada">Адаптивная</div>
            <div id="svetlyi-ada">Верстка</div>
        </div>
        <div>
            <div id="temnyi-otz">Отзывчивая</div>
            <div id="svetlyi-otz">Верстка</div>
        </div>
    </div>
</div>
<main>




	<img src="../img/logo.svg" alt="smth" >
</main>
<footer style="text-align: center;color: white;font-size: medium">
	CHI Software
</footer>
</body>




</html>





