<!DOCTYPE html>
<html lang="en">
<head>
    <title>fixed</title>
	<meta charset=utf-8>
	<link rel="SHORTCUT ICON" href="../images/favicon.ico" type="image/ico">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="fixed.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>

</header>
<span class="full">
<span class="first_part">
    <span class="ab1"> 1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales eros vitae erat auctor,
        at congue ante fermentum. Proin elit ipsum, pretium eu semper eu, hendrerit sit amet nulla. Aliquam erat volutpat.
        Aliquam semper efficitur eros, eget imperdiet nunc tristique vitae. Duis at sollicitudin lectus, sit amet maximus risus.
        Phasellus vel elit lectus. Sed eget consectetur justo. Mauris ex odio, placerat eget dapibus et, consequat non dui.</span>
      <span class="ab2"> 2Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales eros vitae erat auctor,
        at congue ante fermentum. Proin elit ipsum, pretium eu semper eu, hendrerit sit amet nulla. Aliquam erat volutpat.
        Aliquam semper efficitur eros, eget imperdiet nunc tristique vitae. Duis at sollicitudin lectus, sit amet maximus risus.
        Phasellus vel elit lectus. Sed eget consectetur justo. Mauris ex odio, placerat eget dapibus et, consequat non dui.</span>
</span>
<span class="second_part">
      <span class="ab3"> 3Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales eros vitae erat auctor,
        at congue ante fermentum. Proin elit ipsum, pretium eu semper eu, hendrerit sit amet nulla. Aliquam erat volutpat.
        Aliquam semper efficitur eros, eget imperdiet nunc tristique vitae. Duis at sollicitudin lectus, sit amet maximus risus.
        Phasellus vel elit lectus. Sed eget consectetur justo. Mauris ex odio, placerat eget dapibus et, consequat non dui.</span>
      <span class="ab4"> 4Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales eros vitae erat auctor,
        at congue ante fermentum. Proin elit ipsum, pretium eu semper eu, hendrerit sit amet nulla. Aliquam erat volutpat.
        Aliquam semper efficitur eros, eget imperdiet nunc tristique vitae. Duis at sollicitudin lectus, sit amet maximus risus.
        Phasellus vel elit lectus. Sed eget consectetur justo. Mauris ex odio, placerat eget dapibus et, consequat non dui.</span>
</span>
<span class="third_part">
      <span class="ab5"> 5Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales eros vitae erat auctor,
        at congue ante fermentum. Proin elit ipsum, pretium eu semper eu, hendrerit sit amet nulla. Aliquam erat volutpat.
        Aliquam semper efficitur eros, eget imperdiet nunc tristique vitae. Duis at sollicitudin lectus, sit amet maximus risus.
        Phasellus vel elit lectus. Sed eget consectetur justo. Mauris ex odio, placerat eget dapibus et, consequat non dui.</span>
      <span class="ab6"> 6Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sodales eros vitae erat auctor,
        at congue ante fermentum. Proin elit ipsum, pretium eu semper eu, hendrerit sit amet nulla. Aliquam erat volutpat.
        Aliquam semper efficitur eros, eget imperdiet nunc tristique vitae. Duis at sollicitudin lectus, sit amet maximus risus.
        Phasellus vel elit lectus. Sed eget consectetur justo. Mauris ex odio, placerat eget dapibus et, consequat non dui.</span>
</span>
</span>
</body>
</html>